div {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        width: 100%;
}

* {
    padding: 5px;
    background-color: #e2c287;
    color: black;
    text-align: "center";
  }
  
  p {
    font-size: 18px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  ul {
    font-size: 18px;
    list-style: none;
  }
  
  address {
    font-size: 18px;
  }
  
  a:link {
    color: rgb(161, 20, 255);
  }
  
  a:hover {
    font-size: larger;
  }
